{port_specs, [
            {"(linux|darwin)", "priv/lib/gen_socket_nif.so", ["c_src/gen_socket_nif.c"]},
            {"(linux|darwin)", "priv/lib/gen_socket.so", ["c_src/gen_socket_drv.c"]}]}.

{plugins, [pc]}.
{artifacts, ["priv/lib/gen_socket_nif.so", "priv/lib/gen_socket.so"]}.
{provider_hooks, [
    {post, [
        {compile, {pc, compile}},
        {clean, {pc, clean}}
    ]}
]}.
